*.iml
.gradle
/local.properties
local.properties

# IDE
/.idea/
.idea/
*.iws
*.ipr

# Build
/build
**/build/
/captures
*.apk
*.aab

# Kotlin
*.class

# OS
.DS_Store
Thumbs.db

# Native
.externalNativeBuild
.cxx

# Gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Google Services
google-services.json